$lightgray: #f4f6f7;
$darkgray: #294661;
$lightpurple: #e6eefd;
$brightpurple: #f5f8ff;
$primarycolor: #1a82e2;
$primarydeep: #066fd1;
$lightgreen: #e0ffef;
$lightorange: #fff7e5;
$deeporange: #996b13;
$blue: rgb(51, 104, 250);
$deepblue: #002ca6;
$deepgreen: #006631;
$width: 1240px;
