@import "variables";
@import "utils";

@font-face {
  font-family: "Colfax Medium";
  src: url("../fonts/Colfax-Medium.otf");
}

*,
ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

p {
  font-weight: 100;
  font-size: 0.8rem;
}

body {
  font-family: "Roboto", sans-serif;
  background: #fff;
  line-height: 1.5;
  color: $darkgray;
}

#logo img {
  width: 200px;
}

#title {
  font-size: 2.2rem;
}

#section {
  &-a {
    .content-bottom {
      width: 80%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
      margin: 0 auto;

      .contentbox {
        margin-bottom: 2rem;

        h4 {
          margin-bottom: 1rem;

          i {
            color: $primarycolor;
            margin-right: 0.6rem;
          }
        }
      }
    }
  }
  &-b {
    .plans {
      width: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: center;

      .plan {
        width: 50%;
        background: $lightgray;
        padding: 1.5rem 0 0.6rem 0;
        text-align: center;
        border-top: 4px solid $darkgray;
        cursor: pointer;
        &.active,
        &:hover {
          border-color: $blue;
          background: #fff;
        }
      }
      .plan:first-child {
        margin-right: 0.5rem;
      }
    }
  }
  &-c {
    padding: 1rem 0 5rem 0;
    text-align: center;
    p:first-child {
      text-transform: uppercase;
    }
    .plans-wraper {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1rem;
      margin-top: 3rem;
      text-align: justify;

      .plan {
        box-shadow: rgba(0, 23, 62, 0.2) 0px 7px 11px -4px,
          rgb(168, 185, 213) 0px 0px 1px 0px;
        &-head {
          padding: 1rem;
          text-align: center;
        }
        &-mid {
          text-align: center;
          padding: 1rem;
          .btn {
            margin-left: 0;
            background: $blue;
          }
        }
        ul {
          padding: 1rem;

          li {
            line-height: 1.5;
            margin-bottom: 1rem;
            color: #a7a7a7;
            display: flex;
            align-items: center;
            font-size: 1rem;
            img {
              width: 20px;
              height: 20px;
              margin-right: 10px;
            }
          }
        }
      }
      .plan:first-child,
      .plan:last-child {
        .plan-head {
          background: $lightpurple;
          h1 {
            color: $deepblue;
          }
        }
      }
      .plan:nth-child(2) {
        .plan-head {
          background: $lightgreen;
          h1 {
            color: $deepgreen;
          }
        }
      }
      .plan:nth-child(3) {
        .plan-head {
          background: $lightorange;
          h1 {
            color: $deeporange;
          }
        }
      }
    }
  }
}
